$brandColor: #D37C97;
$brandSubColor: #ffffff;
$fontColor: #312626;
$fontColor2: #C3B79D;
$innerWidth: 95rem;
$imgDir: "../img/";
$fontSize: 3.6rem;
$fontSize2: 2.4rem;
$fontSize3: 2.0rem;
$fontSize4: 1.6rem; 